@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); 

* {
    --primary:#7c84ac;     
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
	padding: 0;
}

body {
    margin: 0;    
    background-color: rgb(99, 95, 95);
    color: rgb(7, 2, 2);    
}

.container {
    max-width:600px;
    margin: auto;    
}

.number-input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;
}

button {
  background: var(--primary);
  border: none;  
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;  
}

.heading, h2 {    
    display: block;
    margin: 1rem;
    color: var(--primary);
    text-align: center;
}

label {
    display: block;
    margin-left: 1rem;
    font-size: medium;
    text-align: left;
}

/* footer */

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
  
footer p {
    font-size: large;
    text-align: center;    
}

.footer-list {
    margin: 1rem;
}

a,
img,
li {
    display: inline;
    padding: 0.2rem;
}

img {
    width: 40px;    
    background: var(--primary);
}